.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #101728;
  padding: 250px 100px;
  color: white;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
  cursor: default;
}

.header-link {
  color: white;
  transition: all 0.4s ease;
}

.header-link:hover {
  color: var(--primary-color);
}

.header-pattern {
  position: absolute;
  bottom: -20%;
  left: -20%;
}

.header-content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-background-text {
  position: absolute;
  bottom: 30%;
  font-size: 8rem;
  color: rgba(255, 255, 255, 0.05);
  white-space: nowrap;
  pointer-events: none;
  z-index: 0;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text h1 {
  margin: 10px 0px;
  font-size: 3.5rem;
}

nav {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

nav span {
  margin-right: 5px;
}

.separator {
  margin-left: 5px;
  color: var(--primary-color);
}

.current-page {
  color: var(--primary-color);
}

.header-icon {
  color: #101728;
}

@media (max-width: 750px) {
  .header-background-text {
    position: absolute;
    bottom: 0%;
    left: 20px;
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.05);
    white-space: nowrap;
    pointer-events: none;
    z-index: 0;
  }

  .header-icon {
    display: none;
  }
  .header-container {
    justify-content: center;
    padding: 100px 50px;
  }
  .header-pattern {
    left: -30%;
    bottom: -30%;
  }
  .header-text h1 {
    font-size: 2rem;
    align-items: center;
  }
  span {
    font-size: 15px !important;
    display: flex;
  }
  nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
