.about-container {
    text-align: center;
    padding: 20px;
  }
  
  .about-title {
    font-size: 2rem;
    font-weight: bold;
    background: linear-gradient();
  }
  
  .gradient-text {
    background: linear-gradient(90deg, #243cf1, #a83beb );    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: bold;
    font-family:poppins, sans-serif;  }
  
    
  .about-description {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #555;
    font-family: sans-serif;
  }
  
  